nav.nav
  a.nav__logo(href=index? null:nav.logo.url)
    img(src=nav.logo.src alt=nav.logo.name width=nav.logo.width height=nav.logo.height)
  include menu.pug
  button.toggle.nav__toggle
    span.hamburger.nav__hamburger
